# Docker Compose Override Template
# This file is used to generate docker-compose.override.yml during setup
# The override file will be automatically created by setup-kroki-server.sh
# and contains dynamic port mappings based on .env configuration

services:
  nginx:
    ports:
      # HTTPS_PORT mappings will be generated here
      # Format: - "HOST_PORT:8443"
      
  core:
    ports:
      # HTTP_PORT mappings will be generated here  
      # Format: - "HOST_PORT:8000"
